* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Karla;
}
.form {
  position: absolute;
  width: 230px;
  height: 35px;
  left: 36px;
  top: 101px;

  border: 1px solid #d5d4d8;
  border-radius: 5px;
}
.left {
  position: absolute;
  width: 230px;
  height: 35px;
  left: 35px;
  top: 111px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #d5d4d8;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;

  color: #0d0d0d;
}
.right {
  position: absolute;
  width: 230px;
  height: 35px;
  left: 285px;
  top: 111px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #d5d4d8;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  /* identical to box height */

  color: #0d0d0d;
}

.button {
  background: linear-gradient(
    to right,
    rgba(103, 34, 128, 1),
    rgba(166, 38, 211, 1)
  );
  position: absolute;
  width: 477px;
  height: 40px;
  border-radius: 5px;

  border-width: 0px;
  margin-top: 150px;
  margin-left: 35px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -10%;

  color: #ffffff;
}
.p {
  color:black;
}
.img {
  width: 477px;

  border-radius: 2px;
  margin-left: 36px;
  margin-top:227px;
}
.textOnImage {
  position: absolute;
  width: 300px;
  text-align: center;
  transform: translateX(-50%);
  margin-left: 270px;
  margin-top: -270px;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}